/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(219, 205, 7);
    width: 100vw;
    height: 10vh;
}

div {
    display: flex;
}

.esquerda {
    height: 90vh;
    width: 15vw;
    background-color: rgb(230, 222, 112);
}

main {
    height: 90vh;
    width: 70vw;
    background-color: rgb(138, 219, 7);
}

.direita {
    height: 90vh;
    width: 15vw;
    background-color: rgb(230, 222, 112);
}

@media only screen and (max-width: 600px) {
    .esquerda {
        display: none;
    }

    .direita {
        display: none;
    }

    main {
        width: 100vw;
    }
}



